# Loonix-tunes ignore
*.log
bin/
obj/
.DS_Store/target
**/*.rs.bk
Cargo.lock
node_modules
/target
.skill
.backup
.vst3

# --- Windows Build Dependencies ---
# (DIBUTUHKAN - tidak diignore)
!packaging/windows/*.dll
!packaging/windows/libs/
!packaging/windows/libs/*.lib
!packaging/windows/include/

# Jaga-jaga kalau ada file exe nyasar di luar folder target/
*.exe

# Editor & OS
*.swp
*.swo
.DS_Store

# Build output
dist/